.asdfasdfasdfasdf{
  color:red;
}

.button-text{
  text-transform:uppercase;
  font-size:9px;
}
.button-img{
  height:30px;
  margin-top:9px;
}
.button-container{
  display:none;
  text-align:center;
  width:50px;
  margin-left:15px;
  vertical-align:top;
  opacity:0;
  transition:.5s;
}

#emoteButton{
  transition:all .2s;
}

#emotePanel{
  overflow:hidden;
}

#visualizeImg{
  -webkit-filter: grayscale(100%);
  transition:.3s;
}

#visualizePanel{
  background:rgba(0,0,0,.9);
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:100%;
  z-index:9900;
  transition:.5s ease;
}