.asdfasdfasdfasdf{
  color:red;
}

.button-text{
  text-transform:uppercase;
  font-size:9px;
}
.button-img{
  height:30px;
  margin-top:9px;
}
.button-container{
  display:none;
  text-align:center;
  width:50px;
  margin-left:15px;
  vertical-align:top;
  opacity:0;
  transition:.5s;
}

#emotePanel{
  overflow:hidden;
  position:fixed;
  top:20px;
  right:20px;
  width:60px;
  height:60px;
  background:white;
  z-index:9999;
  border: 1px solid #aaa;
  border-radius:60px;
  transition: 0.5s ease;

  #emoteCircle{
    top: -1px;
    right: -1px;
    position:absolute;
    width:60px;
    height:60px;
    border-radius:60px;
    border: 1px solid #888;
  }

  #emoteButton{
    line-height:60px;
    position:absolute;
    right:12.5px;
    top:14px;
    transition:all .2s;
  }
}

#visualizeImg{
  -webkit-filter: grayscale(100%);
  transition:.3s;
}

#visualizePanel{
  background:rgba(0,0,0,.9);
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:100%;
  z-index:9900;
  transition:.5s ease;
}

//from d3 stacked area chart example
//body {
//  font: 10px sans-serif;
//}

.browser text {
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

